.btn-3 {
    line-height: 39px;
    padding: 0;
    background: white  ;
    color :black;
  }
  .btn-3:hover{
    background: #a1c4fd;
    color: white;
  }
  
  .title{


    font-family: maven-serif;
  }