.searchBtn {
    margin-left : 30px;
    width: 50px;
    position: absolute;
    display: flex;
  }
  
  .searchTermBtn {

    width: 278px;
    border: 3px solid #fbee01c2;
    border-right: none;
    padding: 5px;
    height: 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTermbtn:focus{
    color: #1d1d10c2;
  }
  
  .searchButton {
     width: 48px;
     height: 26px;
    border: 2px solid #fbee01c2;
    background: transparent;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }




.mainContainer {
  width: screen;
  background: linear-gradient(to right,#1999A8,#1CAF95);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left:2rem;
  padding-right:2rem;

  overflow: hidden;
  
}


.cardsContainer {
  display: flex;
  justify-content: space-between;
}
