@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
$main: #CF8F24;
$color1: #1999A8;
$color2: #1CAF95;
$gradient: linear-gradient(to right,$color1,$color2);
$gradient2: linear-gradient(to left,$color1,$color2);
$background:#ffffff;
$shadow: #e8e8e8;
$shadow2: #f6f6f6;