@import 'colors';

.headingContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height:20rem;
  background: $gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.refresh{
  cursor: pointer;
  width: 100%;
  transition: scale 600ms;
  
}
.refresh:hover{
  scale: 2;
}
.refresh:active{
  transition: rotate 300ms;
  rotate: 90deg;
  transition: scale 1 600ms;
}

.mainContainer {
  cursor:default;
  width: screen;
  padding-left:2rem;
  padding-right:2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservationContainer{
  cursor:default;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
  border-radius:1rem;
  align-items: center;
  .Book{
    margin-top: 1rem;
    cursor: pointer;
    height:50%;
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  width: 90%;
  justify-content: center;
}
