@import 'colors';

.card {
    padding: 0.5rem;
    padding-top: 1rem;
    width: 10%;
    height: 10rem;
    border: 1px solid $main;
    color:$main;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px $shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: rel;
    justify-content: space-around;
}
  
.card:hover {
    box-shadow: 2px 2px 10px $shadow;
    transform: scale(1.01);
  }
  
.reservationCount {
    margin-top:1rem;
    background: $gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:5rem;
    font-weight: 800;
  }
  

.cardTitle {
    height: 10%;
    width: 100%;
    font-weight: 600;
    font-size: large;
    margin-top:2rem;
    text-align: center;
  }
  
  
@media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }
  